<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HypnoNerd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33B52CE11D08BE90003B7F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33B52CF41D08BE91003B7F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33B52CFF1D08BE91003B7F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
